body{
    background: #eeeeee;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding: 10px;  
    border: 1px solid white;
    border-radius: 10px;
}
h1{
    font-size: 30px;
}
#img-div{
  padding: 10px;
  background-color: white;  
  font-size: 18px;
}
#img-caption{
    font-size: 25px;
    line-height: 35px;
    padding:10px;
    margin:40px;
    font-weight: 600;
}
#file{
    display: flex;
    justify-content: center;
}
#tribute-info{
    text-align: left;
    padding: 50px;
    width: 60%;
}
#headline{
    font-size: 30px;
    font-weight: 700;
}
ul{
    font-size: 16px;
    line-height: 25.6px;
}
#blockquote{
    font-size: 16px;
    line-height: 24px;
}
cite{
    font-size: 16px;
    line-height: 24px;
}
#bott{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}
#tribute-link{
    color: #477ca7;
}